
@{
    ViewBag.Title = "OrderBookedSuccessfully";
}

<!DOCTYPE html>
<html>
<head>
    <title>Order Booked Successfully</title>
</head>
<body>
    <h1>Order Booked Successfully</h1>
    <p>Your order has been successfully placed!</p>
    <!-- You can add more details or links here -->
</body>
</html>

